
.swiper {
    width: 100%;
    
  }
  
.swiper-slide {

  margin-top: 0px;
  /* text-align: center; */
  font-size: 18px;
  background: #7cb24c;
  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  background: rgb(130,189,78);
  background: linear-gradient(0deg, rgba(130,189,78,1) 8%, rgba(214,249,221,1) 41%, rgba(255,255,255,1) 100%);
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-progressbar-fill {
  border: 2px solid #82bd4e;
  border-radius: 5px;
}

.swiper-pagination-progressbar {
  background-color: #82bd4e;
  border-radius: 5px;
}
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: #82bd4e !important;
    fill: black !important;
    stroke: black !important;
}